<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.luckyspinwheel">

    <application
        android:allowBackup="true"
        android:icon="@drawable/llogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/llogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".load"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Editext"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wheel"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>